*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --back-color:#191919;
    --main-title-size: 64px;
    --main-p-size: 22px;
    --btn-text-size: 18px;
    --btn-back-color: #118DA8;
    --star-title-size: 35px;
}

a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    max-width: 1320px;
    margin: auto;
}
header{
    background-color: var(--back-color);
    padding-top: 43px;
    padding-bottom: 43px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav ul{
    display: flex;
}
.header__nav ul li{
    padding-left: 40px;
}

.header__nav ul li a{
    font-family: 'DM Sans';
    font-style: normal;
    color: white;
    font-size: var(--btn-text-size);
    line-height: 27px;
}
.podcats{
    background-color: var(--back-color);
    padding-top: 40px;
}

.podcats .container{
    display: flex;
    justify-content: space-between;
}

.podcast__content-text h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    padding-top: 294px;
    padding-bottom: 74px;
}

.podcast__content-text h1 span{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    letter-spacing: 3.2px;
    color: #FFFFFF;
}

.type__social a{
    padding-right: 17px;
}

.episodes{
    background-color: var(--back-color);
    padding-top: 100px;
    padding-bottom: 160px;
}

.episodes-previ{
    display: flex;
    justify-content: space-between;
    padding-bottom: 66px;
}

.episodes-previ h2{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: var(--main-title-size);
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
}

.episodes__btn a{
    padding: 12px 20px;
    background-color: var(--btn-back-color);
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
    border-radius: 6px;
}

.episodes__content{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 40px 40px;
    border-radius: 32px;
    margin-bottom: 60px;
}

.episodes__content-text{
    padding-left: 53px;
}
.episodes__top-btn{
    padding-bottom: 48px;
}
.episodes__top-btn a{
    padding: 0 16px;
    background-color: var(--back-color);
    color: #FFFFFF;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.episodes__content-text h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #118DA8;
    padding-bottom: 18px;
}

.episodes__content-text h4{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;
    color: #FFFFFF;
    padding-bottom: 28px;
}

.episodes__content-text p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 18px;
}

.host{
    background-color: var(--back-color);
    padding-bottom: 100px;
}

.host .container {
    display: flex;
    justify-content: space-between;
}

.host__content{
    padding-top: 147px;
}

.host__content a{
    padding-bottom: 47px;
}

.host__content a::after{
    content: "Meet your host";
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
    position: relative;
    top: 40px;
    right: 120px;
}

.host__content h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    padding-bottom: 28px;
}

.host__content p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 33px;
}


.sab__form{
    background-color: var(--back-color);
    padding-bottom: 100px;
}

.sab__form .container{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    border-radius: 32px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}


.sab__titel h3{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #118DA8;
}
.sab__titel h4{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    padding-bottom: 143px;
}

.box__form{
    width: 522px;
}

.form__name input{
    padding-left: 19px;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border: none;
    height: 82px;
    width: 100%;
    border-bottom: solid 1px black;
    background-color: #191919;
    margin-bottom: 20px;
}

.form__email input{
    padding-left: 19px;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    border: none;
    height: 82px;
    width: 100%;
    border-bottom: solid 1px black;
    background-color: #191919;
    margin-bottom: 20px;
}

.fotm__btn a{
    padding: 10px 19px;
    background-color: var(--btn-back-color);
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
.






















